<div class="row">
    {{#each places}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <p>{{phone_number}}</p>
                <p>{{description}}</p>
                <p>{{address}}</p>                                
            </div>
        </div>
    </div>
    {{/each}}
</div>