
<div id="aboutwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
            </div>
        </div>
    </div>
    <!-- /container -->
    <div class="container">
    <div class="row centered mt mb">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>NUESTRO OBJETIVO</h2>
            <p>Nuestro objetivo es proporcionar un herramienta que permita la comunicación directa entre la ciudadanias y
                los recicladores de la zona de Engativa con el fin desechar correctamente los residuos electronicos de los que hemos
                visto, no se tiene el mejor conocimiento de como desechar este tipo de basura.
            </p>
        </div>
    </div>
    <div>
        <img width="500" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fblogs-images.forbes.com%2Fheatherclancy%2Ffiles%2F2014%2F06%2FBlueOak-Circuits.jpg&f=1&nofb=1" alt="electrodomesticos">
    </div>
</div>
</div>

