
            <!-- slider banner	 -->

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="info">
                            <h1>BIENVENIDO A RECYTECH</h1>
                            <p>Estamos comprometidos con el planeta</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="info">
                            <h1>DESECHA CORRECTAMENTE TUS DESECHOS ELECTRONICOS</h1>
                            <p>Recuerdad que cuando coloque un punto debes suministrar toda la información</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="info">
                            <h1>LOS PRECIOS HOY</h1>
                            <p>Compra kilo de Cobre: $97.00</p>
                            <p>Compra kilo de Cobalto: $620.00</p>
                            <p>Compra kilo de Aluminio: $22.00</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
