
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 navbar">
            <a href="/" class="logo navbar-brand text-black offset-md-2" >Recytech</a>
            <ul class="nav">
                <li class="nav-item active"><a href="/" class="nav-link"  style="color: black;">Home</a></li>
                <li class="nav-item"><a href="/about" class="nav-link"  style="color: black;">About Us</a></li>

                {{#if user}}
                <li class="nav-item"><a href="/placeP" class="nav-link" style="color: black;">Todos los puntos</a></li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">
                        Coloca Tú Punto De Reciclaje 
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/place"  style="color: black;">Ver mis puntos</a>
                        <a class="dropdown-item" href="/place/add"  style="color: black;">Agregar un nuevo sitio </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/users/logout"  style="color: black;">Logout</a>
                    </div>
                </li>
                {{else}}
                <li class="nav-item"><a href="/users/signin" class="nav-link"  style="color: black;">Login</a></li>
                <li class="nav-item"><a href="/users/signup" class="nav-link"  style="color: black;">Register</a></li>
                {{/if}}
            </ul>
        </div>

