<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Registrar Usuario
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="lastname" placeholder="lastname">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="phone_number" placeholder="phone_number">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="email_address" placeholder="email_address">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="password" placeholder="password">
                    </div>
                    </div class="form-group">
                        <p class="centrarEntrada"> <b>Tipo de usuario:</b></p>
                        <p class="centrarEntrada">Generador<input type="radio" name="tipo" value="generator"></p>
                        <p class="centrarEntrada">Reciclador<input type="radio" name="tipo" value="collector"></p>
                    <div>
                    <button class="btn btn-primary btn-block">
                        signup
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>