	<div class="container">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<h2>Login</h2>
				<form action="/users/signin" method="post">
					<input type="email" class="field" name="email" placeholder="email">
					<input type="password" class="field" name="password" placeholder="password">
					<button class="btn">Iniciar Sesión</button>
					<form action="/auth/google2" method="get">
					</form>
						<form action="/auth/google2">
						<button class="btn btn-gplus ">
								<i class="fab fa-google"></i>
								Iniciar con Google
						</button>
					</form>
				
				</form>
			</div>
		</div>
	</div>